<div>
    <p-card >
        <div >
            <h3 >Skills</h3>
            <i class="pi pi-pencil editicon" ></i>
        </div>
        <p-divider></p-divider>
        <div class="flex align-items-center ">
            <p-chip label="Angular" styleClass="mr-2"></p-chip>
        </div>
        <!-- <div class="grid">
            <div class="col-4">
                <i class="pi pi-linkedin" style="color:#195991"></i>
                Linkedin
            </div>
            <div class="col-4">
                <i class="pi pi-twitter" style="color: #50a0c1"></i>
                Twitter
            </div>
            <div class="col-4">
                <i class="pi pi-facebook" style="color: #2368a0;"></i>
                Facebook
            </div>
            <div class="col-4">
                <i class="pi pi-instagram" style="color: #ff004d;"></i>
               Instagram
            </div>            
        </div> -->
    </p-card>
</div>