:host ::ng-deep .p-card .p-card-content {
    margin-top:-30px
}

.editicon{
    justify-content: flex-end;
    display: flex;
    margin-top: -40px;
}

:host ::ng-deep .p-chip {
    border-radius: 0px;
    font-size: small;
    background-color:#1d65a5 ;
    color: #fff;
}