<div >
    <p-card header="Basic information">

        <form [formGroup]="profile">

            <div class="col-12 ">
                <div class="grid">
                    <div class="col-4">
                        <span class="p-float-label">
                            <input id="float-input" type="text" pInputText formControlName="firstname"> 
                            <label for="float-input">FirstName</label>
                        </span>
                    </div>
                    <div class="col-4">
                        <span class="p-float-label">
                        <input id="float-input" type="text" pInputText formControlName="lastname"> 
                        <label for="float-input">LastName</label>
                        </span>
                    </div>
                    <div class="col-4">
                        <span class="p-float-label">
                        <input id="float-input" type="text" pInputText formControlName="username"> 
                        <label for="float-input">UserName</label>
                    </span>
                    </div>
                    <div class="col-4">
                        <span class="p-float-label">
                        <input id="float-input" type="text" pInputText formControlName="email"> 
                        <label for="float-input">Email</label>
                        </span>
                    </div>
                    <div class="col-4">
                        <span class="p-float-label">
                        <input id="float-input" type="text" pInputText formControlName="phonenumber"> 
                        <label for="float-input">Contact </label>
                        </span>
                    </div>
                    </div>
                </div>
        </form>
    </p-card>
</div>

