.align-card-login {
    display: flex;
    justify-content: center;
    position: absolute;
    // top: 20%;
    padding-top: 100px;
    // left: 37%;
    height: 100%;
    width: 100%;
    background-image: url("../../assets/connection.jpg");
    background-size: cover;
    margin: -8px;
}

:host ::ng-deep .p-card-title {
    color: #7637db;
}

:host ::ng-deep .login .p-button {
    background: #7637db;
    border: 1px solid #7637db;
    width: 100%;
}

:host ::ng-deep .login .p-button:enabled:hover {
    background: #7637db;
    color: #ffffff;
    border-color: #7637db;
}