<!-- <p>register works!</p> -->
<div class="align-card-login">
    <p-card header="Login" [style]="{'width': '25rem', 'margin-bottom': '2em'}">
        <div class="grid">
            <div class="col-12 p-fluid">
                <!-- <span class="p-float-label"> -->
                    <label for="float-input">Username</label>
                    <input id="float-input" type="text" pInputText >
                <!-- </span> -->
            </div>
            <div class="col-12 p-fluid">
                <!-- <span class="p-float-label"> -->
                    <label for="float-input" >Password</label>
                    <input id="float-input" type="text" pInputText >
                <!-- </span> -->
            </div>
            <div class="col-12" style="text-align: center;padding-top: 20px;padding-bottom: 0px; ">
                <p-button label="Login"></p-button>
            </div>
        </div>
    </p-card>
</div>
