<div>
    <p-card class="card">
        <div >
            <h3 >Personal</h3>
            <i class="pi pi-pencil editicon" ></i>
        </div>
        <p-divider></p-divider>
        <div class="grid">
            <div class="col-4">
                First Name
                <!-- <div style="font-weight: bold;">Gowthami</div> -->
            </div>
            <div class="col-4">
                Middle Name
            </div>
            <div class="col-4">
                Last Name
            </div>
            <div class="col-4">
               Gender
            </div>
            <div class="col-4">
                Employee ID
            </div>
            <div class="col-4">
                Blood Group
            </div>
            
        </div>
    </p-card>
</div>