<div>
    <p-card class="card">
        <div >
            <h3 >Work</h3>
        </div>
        <p-divider></p-divider>
        <div class="grid">
            <div class="col-4">
                Previous Experience
                <!-- <div style="font-weight: bold;">Gowthami</div> -->
            </div>
            <div class="col-4">
                Status
            </div>
            <div class="col-4">
                Works For
            </div>
            <div class="col-4">
               Works From
            </div>
            <div class="col-4">
               Work Location
            </div>
            <div class="col-4">
                Type
            </div>
            <div class="col-4">
                Department
             </div>
             <div class="col-4">
                Team name
             </div>
             <div class="col-4">
                Practice
             </div>
             <div class="col-4">
                Operation Contact
             </div>
             <div class="col-4">
                Reports to
             </div>
             <div class="col-4">
                Designation
             </div>
             <div class="col-4">
                Date of Joining
            </div>
            <div class="col-4">
                Date of Employement
            </div>
            <div class="col-4">
                Shift Timings
            </div>
        </div>
    </p-card>
</div>