<div>
    <p-card >
        <div >
            <h3 >Identity</h3>
            <i class="pi pi-pencil editicon"> </i>
        </div>
        <p-divider></p-divider>
        <div class="grid">
            <div class="col-6">
                PAN#
            </div>
            <div class="col-6">
                Name as per PAN
            </div>
            <div class="col-6">
                Aadhar#
            </div>
            <div class="col-6">
                Name as per Aadhar
            </div>            
        </div>
    </p-card>
</div>