<div >
    <p-card header="Basic information">

        <form [formGroup]="profile">

            <div class="col-12 ">
                <div class="grid">
                    <div class="col-3">
                        <label for="float-input">FullName</label>
                    </div>
                    <div class="col-9">
                        <input id="float-input" type="text" pInputText formControlName="username">
                    </div>
                    <div class="col-3">
                        <label for="float-input">Username</label>
                    </div>
                    <div class="col-9">
                        <input id="float-input" type="text" pInputText formControlName="username">
                    </div>
                    <div class="col-3">
                        <label for="float-input">Email</label>
                    </div>
                    <div class="col-9">
                        <input id="float-input" type="text" pInputText formControlName="username">
                    </div>
                    <div class="col-3">
                        <label for="float-input">Contact Phone</label>
                    </div>
                    <div class="col-9">
                        <input id="float-input" type="text" pInputText formControlName="username">
                    </div>
                </div>
            </div>
        </form>
    </p-card>
</div>

