<p>rough works!</p>
<div class="parent" tabindex="0">


    <div class="one active" tabindex="1">
        <div class="grid ">
            <div class="col-2" style="text-align: center;">
                <i class="pi pi-user"></i>
            </div>
            <div class="col-10">
                <label >Personal</label>
            </div>
        </div>
    </div>
  
    <div class="two" tabindex="2">
      two
    </div>
  
    <div class="three" tabindex="3">
      three
    </div>
  
  </div>

  <p-card>
  
</p-card>