.align-card {
    display: flex;
    justify-content: center;
    position: absolute;
    // top: 20%;
    padding: 150px;
    // left: 30%;
    height: 100%;
    width: 100%;
    background-image: url("../../assets/connection.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: -8px;
}

:host ::ng-deep .p-card-title {
    color: #7637db;
}

.mat-radio-button {
    padding-top: 10px;
}

.mat-radio-button~.mat-radio-button {
    margin-left: 100px;
}

label {
    font-weight: bold;
}

:host ::ng-deep .p-button {
    background: #7637db;
    border: 1px solid #7637db;
    width: 100%;
}

:host ::ng-deep .p-button:enabled:hover {
    background: #7637db;
    color: #ffffff;
    border-color: #7637db;
}

:host ::ng-deep .mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
    border-color: #7637db;
}

:host ::ng-deep .mat-radio-button.mat-accent .mat-radio-inner-circle {
    background-color: #7637db;
}