<!-- <p>register works!</p> -->
<div class="align-card">
    <p-card header="Register" [style]="{'width': '40rem', 'margin-bottom': '2em'}">
        <div class="grid">
            <div class="col-6 p-fluid">
                <!-- <span class="p-float-label"> -->
                    <label for="float-input">Fullname</label>
                    <input id="float-input" type="text" pInputText >
                    
                <!-- </span> -->
            </div>
            <div class="col-6 p-fluid">
                <!-- <span class="p-float-label"> -->
                    <label for="float-input">Username</label>
                    <input id="float-input" type="text" pInputText >
                    
                <!-- </span> -->
            </div>
            <div class="col-6 p-fluid">
                <!-- <span class="p-float-label"> -->
                    <label for="float-input">Email</label>
                    <input id="float-input" type="text" pInputText >
                   
                <!-- </span> -->
            </div>
            <div class="col-6 p-fluid">
                <!-- <span class="p-float-label"> -->
                    <label for="float-input" >Phonenumber</label>
                    <input id="float-input" type="text" pInputText >
                <!-- </span> -->
            </div>
            <div class="col-6 p-fluid">
                <!-- <span class="p-float-label"> -->
                    <label for="float-input" >Password</label>
                    <input id="float-input" type="text" pInputText >
                <!-- </span> -->
            </div>
            <div class="col-6 p-fluid">
                <!-- <span class="p-float-label"> -->
                    <label for="float-input" >Confirm Password</label>
                    <input id="float-input" type="text" pInputText >
                <!-- </span> -->
            </div>
            <div class="col-12 ">
                <label >Gender</label><br>
                <mat-radio-group aria-label="Select an option">
                    <mat-radio-button value="M">Male</mat-radio-button>
                    <mat-radio-button value="F">Female</mat-radio-button>
                  </mat-radio-group>
            </div>
            <div class="col-12" style="padding: 20px 0px 0px 0px">
                <p-button label="Register"></p-button>
            </div>
        </div>
    </p-card>
</div>